fastapi==0.112.2
uvicorn[standard]==0.30.6
aiobotocore==2.14.0
azure-storage-queue[aio]==12.11.0
sqlalchemy[asyncio]==2.0.34
asyncpg==0.30.0
httpx==0.27.2
web3==6.10.0
types-aiofiles==24.1.0.20240626
types-aiobotocore[essential]==2.14.0
aiosqlite==0.20.0
kiba-build==0.1.10
