fastapi==0.100.0
uvicorn[standard]==0.23.1
aiobotocore==2.5.2
azure-storage-queue~=12.6.0
sqlalchemy[asyncio]==2.0.19
asyncpg==0.28.0
httpx==0.24.1
web3==6.6.1
types-aiofiles==23.1.0.5
types-aiobotocore[essential]==2.5.2
kiba-build==0.1.8
