fastapi==0.103.1
uvicorn[standard]==0.23.2
aiobotocore==2.6.0
azure-storage-queue~=12.7.2
sqlalchemy[asyncio]==2.0.21
asyncpg==0.28.0
httpx==0.25.0
web3==6.10.0
types-aiofiles==23.2.0.0
types-aiobotocore[essential]==2.6.0
kiba-build==0.1.9
