name: Build
on:
  pull_request:
    branches: ["*"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-pull-request
  cancel-in-progress: true
jobs:
  core-build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: core
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          cache-from: type=gha,scope=core
          cache-to: type=gha,mode=max,scope=core
          tags: ${{ env.DOCKER_IMAGE }}
      - name: Run lint-check
        run: |
          docker run --name lint-check $DOCKER_IMAGE make lint-check-ci
          docker cp lint-check:/app/lint-check-results.json ./lint-check-results.json
      - name: Upload lint-check results
        uses: kibalabs/github-action-create-annotations@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          json-file-path: ./lint-check-results.json
          check-name: core-lint-check
          fail-on-error: false
      - name: Run type-check
        run: |
          docker run --name type-check $DOCKER_IMAGE make type-check-ci
          docker cp type-check:/app/type-check-results.json ./type-check-results.json
      - name: Upload type-check results
        uses: kibalabs/github-action-create-annotations@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          json-file-path: ./type-check-results.json
          check-name: core-type-check
          fail-on-error: false
      - name: Run tests
        run: |
          docker run --name tests $DOCKER_IMAGE make test-ci
          docker cp tests:/app/test-check-results.json ./test-check-results.json
      - name: Upload test results
        uses: kibalabs/github-action-create-annotations@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          json-file-path: ./test-check-results.json
          check-name: core-tests
          fail-on-error: true
